.article{
	display: block;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #EBEBEF;
}

.article-info{
	display: block;
	float: left;
	width: 360px;
}

.article-info-title{
	display: block;
	font-family: SegoeUIBold;
	font-size: 25px;
	color: #000;
	padding-bottom: 10px;
	border-bottom: 2px solid black;
	text-align: justify;
} 

.article-info-text{
	display: block;
	text-align: justify;
	margin-top: 25px;
	color: #818D97;
	font-size: 14px;
	font-family: SegoeUIRegular;
}

.article-right{
	display: block;
	float: right;
	width: 720px;
}

.article-right-video{
	display: block;
}

.article-right-photos{
	display: block;
	padding-top: 50px;
}

.article-right-photos-element{
	display: block;
	float: left;
}

.article-right-photos-element-pic:hover{
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
}

.article-right-photos-element-pic{
	display: block;
	width: 180px;
	height: 110px;
	filter: grayscale(70%);
	-webkit-filter: grayscale(70%);
	-moz-filter: grayscale(70%);
	-o-filter: grayscale(70%);
	-ms-filter: grayscale(70%);
	transition: all .1s ease-in;
}

.article-date-container{
	display: block;
}

.article-date{
	display: block;
	float: right;
	margin-right: 100px;
	font-family: SegoeUIBold;
	font-size: 16px;
	color: #595959;
}

.categories{
	display: block;
	margin-top: 50px;
	border-top: 4px solid black;
}

.categories-element:hover {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
}

.categories-element{
	display: block;
	float: left;
	filter: grayscale(70%);
	-webkit-filter: grayscale(70%);
	-moz-filter: grayscale(70%);
	-o-filter: grayscale(70%);
	-ms-filter: grayscale(70%);
	transition: all .1s ease-in;
}

.categories-element-pic{
	display: block;
	width: 195px;
	height: 120px;
}